.contacts{
  display: flex;
  flex-direction: column;
  font-style: normal;
  position: relative;
}

.contacts__tel, .contacts__workhours {
  color: #fff;
  

}
.contacts__tel{
  font-size: 26px;
  line-height: 34px;
  text-decoration: none;
}
.contacts__workhours{
  font-size: 13px;
  width: max-content;
  margin-left: auto;
}
 .contacts__price{
  font-size: 11px;
  line-height: 20px;
  color: #9A9A9A;
  margin-top: 37px;
  margin-left: 30px;

 }

 .contacts__title {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  
 }
 .contacts__title {
  text-decoration: underline;
  margin-left: 92px;
 }

 .contacts__title:hover +.address__description {
  opacity: 1;
 }

 .address__description--container{
  padding: 19px ;
  
 }

 .address__description {
  opacity: 1;
  position: absolute;
  background:url(./../../img/address.png) center center /cover no-repeat ;
  width: 160px;
  height: 80px;
  right: 0;
  top: 49px;
  color: #1E1F20;
  transition: 2s all ease-in-out;
  border-radius: 4px;

}

.address__description--container--days {
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
}
 
.address__description--container--time {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
}