.form {
  background-color: #F4F5F5;
  padding-bottom: 48px;
  color: #1A1B1E;
  padding-top: 62px;
}

.form__group {
  display: flex;
  column-gap: 28px;
  margin-bottom: 25px;
}
.form__group:last-child {
  margin-bottom: 0;
}

.form__group--type--controls {
  column-gap: 75px;
}
.title-inner__light {
  color: #1A1B1E;
  font-weight: bold;
  font-size: 48px;
  line-height: 1.35;
}

.form__input {
  color: #1A1B1E;
  font-size: 18px;
  line-height: 1.4;
  padding: 20px 30px;
  background: #FFFFFF;
  border-radius: 5px;
  border:  1px solid transparent;
  flex: 1;
  outline: none;
  
}

.form__input::placeholder {
  color: #666666;

}

.form__input:focus {
  border: 1px solid #F5170E;
}

.form__input--type--textarea{
  min-height: 235px;;
  resize: none;
}

.form__controls--title {
  flex-basis: 366px;
  flex-shrink: 0;
  color: #1A1B1E;
  font-size: 18px;
  line-height: 1.4;
}

.form__controls {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  column-gap: 7px;
  row-gap: 9px;
}

.control__input:checked ~ .control__tag {
  background: #B9EAE4;

}

.control__input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-progress-appearance: unset;
  position: absolute;
}