.top--line {
  min-width: 412px;
  display: flex;
  flex-direction: column;
  background: url(./../img/headline--wp.png) right top no-repeat;
}

.top--line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.services--title {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 104px;
}


.page-content {
  display: flex;
  background: #F2F2F2;
  color: #303030;
  padding-top: 40px 0;

}
.services{
  margin-top: 99px;
  margin-bottom: 68px;
}

.services__item{
  margin-bottom: 48px;
 }

.services__item:last-child{
  margin-bottom: 0;
}

.service{
  display: flex;
 
}

.service__img{
  width: 40%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
  margin-top: -10px;
}

.service__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 30.5px;
  margin-top: 17px;
  color: #000000;

}

.service__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 35px;
}