@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url(./layout/normalize.css);
@import url(./layout/base.css);
@import url(./components/header.css);
@import url(./components/logo.css);
@import url(./components/nav.css);
@import url(./components/address.css);
@import url(./components/button.css);
@import url(./components/social.css);
@import url(./components/pagination.css);
@import url(./components/footer.css);
@import url(./components/reviews.css);
@import url(./components/breadcrumbs.css);
@import url(./components/cards.css);
@import url(./components/inner.css);
@import url(./components/form.css);
@import url(./components/separator.css);


body{
  background-color: #001821;
  color: #fff;
  font: 400px 1px/1.42 "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tour{
  
  width: 45%;
  margin-bottom: 246px;
  
}
.tour__title{
  font-size: 72px;
  font-weight: bold;
  line-height: 99px;
  margin-bottom: 27px;
  
}

.tour__annotation{
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 33px;

}

.features{
  margin-bottom: 127px;
  display: flex;
  flex-direction: column;
  
}

.title{
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  display: inline-block;
  vertical-align: top;
}


.features__title{
  margin-bottom: 51px;
  display: flex;
  
}

.features__title-logo{
  width: 21px;
  height: 28px;
  margin: 13px;
}

.features__tour{
  color: #000;
  min-height: 449px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.features__list{
  display: flex;
  justify-content: space-between;
  
}

.features__item{
  width: calc(100% / 3 - 18px);
  
}

.features__img{
  min-height: 144px;
  margin-bottom: 33px;

}
.features__item:last-child{
  margin-right: 0;
}
.features__option {
  padding-left: 22px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
 
.features__option-title{
  font-weight: bold;
  font-size: 24px; 
  margin-bottom: 23px;
  
}

.features__option-menu{
  display: flex;
}
.features__option-menu-days, .features__option-menu-food {
  margin-right: 28px;
  margin-bottom: 19px;
  align-items: center;
  line-height: 21px;
  display: flex;
}

.features__option-menu-food{
  margin-right: 0;
}

.features__text{
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  align-items: center;
  margin-bottom: 23px;
}


.features__option-logo-days{
  width: 26px;
  height: 26px;
}

.features__option-logo-food{
  width: 36px;
  height: 26px;
}

.news__title{
  margin-bottom: 47px;
  
}

.news__list{
  display: flex;
  justify-content: space-between;
}
.news__item{
  
  margin-right: 2%;
  flex: 1;
}

.single__news{
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__item:last-child{
  margin-right: 0;
}
.news__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__list{
  margin-bottom: 53px;
}

.news__description{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 39px 25px;
  min-height: 94px;

}

.news__date{
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 12.5px;
}

.news__name{
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 3.5px;
}

.news__annotation{
  font-size: 16px;
  line-height: 21px;
}
  

.about{
  display: flex;
  
}
 .about::before{
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  background: url(../img/gates.png) center center / cover no-repeat;
 }

.about__content{
  display: inline-block;
  vertical-align: top;
  max-width: 785px;
  height: 455px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-left: -142px;
  margin-top: 96px;
  margin-bottom: 53px;
 }

.about__img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
 }

 .about__option{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 70px 204px 66px 81px;
  
 }

 .about__title{
  color: #000;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 36px;

 }

 .about__text{
  color: #060606;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 41px;

 }

.about__text p{
  margin-bottom: 20px;

 }

 .about__text p:last-child{
  margin-bottom: 0;
 }

 .contacts__title {
  position: relative;
  cursor: pointer;
  font-size: 13px;
  line-height: 20px;
  
 }
 .contacts__title {
  text-decoration: underline;
  margin-left: 92px;
 }

 .contacts__title:hover +.address__description {
  opacity: 1;
 }

.address__description--container{
  padding: 19px ;
  
 }

 .address__description {
  opacity: 0;
  position: absolute;
  background:url(./../img/address.png) center center /cover no-repeat ;
  width: 160px;
  height: 80px;
  right: 187px;
  top: 80px;
  color: #1E1F20;
  transition: 2s all ease-in-out;
  border-radius: 4px;
  
  

}

.address__description--container--days {
  font-weight: bold;
  font-size: 13px;
  line-height: 21px;
}
 
.address__description--container--time {
  font-weight: 600;
  font-size: 13px;
  line-height: 21px;
}






/*oshvcjk;dljzv;mcx*/




.top--line {
  min-width: 412px;
  display: flex;
  flex-direction: column;
  background: url(./../img/headline--wp.png) right top no-repeat;
}

.top--line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.services--title {
  font-weight: bold;
  font-size: 72px;
  line-height: 98px;
  margin-bottom: 104px;
}




.page-content {
  display: flex;
  background: #F2F2F2;
  color: #303030;
  padding-top: 40px 0;

}
.services{
  margin-top: 99px;
  margin-bottom: 68px;
}

.services__item{
  margin-bottom: 48px;
 }

.services__item:last-child{
  margin-bottom: 0;
}

.service{
  display: flex;
 
}

.service__img{
  width: 40%;
  margin-right: 5%;
}

.service__content {
  flex: 1;
  margin-top: -10px;
}

.service__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;
  margin-bottom: 30.5px;
  margin-top: 17px;
  color: #000000;

}

.service__button {
  background: #F5170E;
  padding: 19px 40px;
  color: #fff; 
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}
 
.service__button:hover{
  background: #DA0100;
}

.service__desc {
  font-size: 16px;
  line-height: 27px;
  margin-bottom: 35px;
}





/*dgblhvhirovnvlk */



.welcome--page{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(./../img/bg__wp.png) center bottom/ cover no-repeat;
}



.welcome--page__main{
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: zoom 1s ;
  opacity: 0;
  animation-fill-mode: forwards;
}

.welcome--page__logo-icon {
  width: 279px;
  
}
.welcome--page__link {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 63px;
}

@keyframes zoom {
0% {
  transform: scale(.7);
}

20% {
  transform: scale(1.15);
}

40% {
  transform: scale(.9);
}
60% {
  transform: scale(1.1);
}
75% {
  transform: scale(.5);
}
90% {
  transform: scale(1);
}
100% {
  transform: scale(1);
  opacity: 1;
}
}








